.mail-item-con{
    width: 100%;
    border-bottom: 1px solid #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.heading{
    font-size: 13px;
}

.date{
    font-size: 12px;
}